<div class="mt-3 text-center sm:mt-0 sm:text-left flex flex-col flex-1">
  <div class="flex items-center mb-2">
    <div
      class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-queenPink-600 sm:mx-0 sm:h-10 sm:w-10"
      [class.hover:cursor-pointer]="currentLoginOption$ | async"
      [class.hover:bg-queenPink-700]="currentLoginOption$ | async"
      (click)="onGoBackButton()"
    >
      <svg
        *ngIf="!(currentLoginOption$ | async)"
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-queenPink-200"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z"
          clip-rule="evenodd"
        />
      </svg>
      <svg
        *ngIf="currentLoginOption$ | async"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-white hover:"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11 17l-5-5m0 0l5-5m-5 5h12"
        />
      </svg>
    </div>
    <div class="ml-4">
      <ng-container *ngIf="!(currentLoginOption$ | async)?.id">
        <h3
          class="text-lg leading-6 font-medium text-queenPink-900"
          id="modal-title"
        >
          Connect your wallet
        </h3>
      </ng-container>
      <ng-container *ngIf="(currentLoginOption$ | async)?.id">
        <h3
          class="text-lg leading-6 font-medium text-queenPink-900"
          id="modal-title"
        >
          {{ (currentLoginOption$ | async)?.title }}
        </h3>
      </ng-container>
    </div>
  </div>
  <div class="mt-2">
    <fieldset *ngIf="!(currentLoginOption$ | async)">
      <legend class="sr-only">Login options</legend>
      <div class="space-y-4">
        <div
          *ngFor="let loginOption of loginOptions$ | async"
          [id]="loginOption.id"
          (click)="onChosenLoginOption(loginOption)"
          class="block bg-white border rounded-lg shadow-sm px-6 py-4 cursor-pointer sm:flex sm:justify-between focus:outline-none transition-transform hover:outline hover:outline-offset-2 hover:outline-2 hover:outline-queenPink-500"
        >
          <input
            type="radio"
            name="server-size"
            value="{{ loginOption.title }}"
            class="sr-only"
            aria-labelledby="server-size-0-label"
            aria-describedby="server-size-0-description-0 server-size-0-description-1"
          />
          <span class="flex items-center">
            <span class="text-sm flex flex-col">
              <span id="server-size-0-label" class="font-medium text-gray-900">
                {{ loginOption.title }}
              </span>
            </span>
          </span>
        </div>
      </div>
    </fieldset>
    <div
      *ngIf="(currentLoginOption$ | async)?.id === 'maiarApp'"
      class="flex justify-center items-center"
    >
      <em-maiar-app-login></em-maiar-app-login>
    </div>
  </div>
</div>
